*.o
.DS_Store
/.deps/
/.vagrant/
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/.dirstamp
/src/Makefile
/src/Makefile.in
/src/example
/src/test_dao_helper
/src/test_date_utils
/src/test_debug_utils
/src/test_file_utils
/src/test_http_request
/src/test_pagination
/src/test_pool
/src/test_uri_utils
/src/test_uuid
/src/trip
/src/trip_server_common
/stamp-h1
/tests/Makefile
/tests/Makefile.in
/tests/atconfig
/tests/package.m4
/tests/testsuite
/tests/testsuite.log
/trip-server-common-*.tar.?z
/m4/autom4te.cache/
